<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<script>
    var ws = new WebSocket('ws://192.168.2.12:8080/echo');
    var send = function (form) {

        var circle = JSON.stringify({
            'name': form.name.value,
            'color': form.color.value,
            'x': form.x.value,
            'y': form.y.value
        });
        for (var i = 0; i < form.how.value; i++) {
            ws.send(circle);
        }
    }
</script>
<form action="javascript:void()" onsubmit="send(this);">
    <label>Name:<input type="text" name="name" value="Boomer"></label> <br/>
    <label>Color: <input type="color" name="color" value="#FF0000"></label><br/>
    <label>X: <input type="text" name="x" value="220"></label><br/>
    <label>Y: <input type="text" name="y" value="23"></label><br/>
    <label>How create: <input type="text" name="how" value="1000"></label><br/>
    <input type="submit" value="Send">
</form>

</body>
</html>
